[2018-12-28 09:59] diamondzacx opened #1 "Issue while saving "integrationConfiguration" object in Pimcore"
Getting following error while saving object of "integrationConfiguration" class.

Timestamp: Fri Dec 28 2018 15:18:53 GMT+0530 (IST)
Status: 500 | Internal Server Error
URL: /admin/object-mapper/get-columns-product
Method: GET
Message: Attempted to load class "FromColumn" from namespace "Divante\MagentoIntegrationBundle\Model\Mapping".
Did you forget a "use" statement for another namespace?

Need

[2019-01-18 08:18] mbolka commented on #1
@diamondzacx This issue has been solved. Thx

[2019-02-12 15:35] ankit-sf opened #5 "Question: what is apprx. speed of connector to export 1000 products"
Question: what is apprx. speed of this connector to export 1000 products into magento2 from pimcore?

[2019-03-04 11:04] Xcreen opened #7 "Product/Category Class Templates"
Hi,
are there templates available on how a product/category class should be look like?
Or do we have todo that manually and check which mappings are availble?

Thank you.

[2019-04-09 08:27] marcindyguda commented on #7
hi @Xcreen we will be releasing a tutorial video quite soon, that will be helpful. Stay tuned.

[2019-04-16 11:39] bartoll opened #10 "API: No configuration was found for this object."
{
"name": "pimcore/demo-ecommerce",
"type": "project",
"description": "E-Commerce Demo Application for Pimcore 5",
"license": "GPL-3.0-or-later",
"config": {
"optimize-autoloader": true,
"sort-packages": true
},
"require": {
"php": ">=7.1",
"divante-ltd/pimcore-magento2-bridge": "^1.0",
"pimcore/customer-management-framework-bundle": "^1.9",
"pimcore/pimcore": "~5.7.0",
"pimcore/server-side-matomo

[2019-04-18 08:50] bartoll opened #11 "Exception during instalation process"
{
  "name": "pimcore/demo-ecommerce",
  "type": "project",
  "description": "E-Commerce Demo Application for Pimcore 5",
  "license": "GPL-3.0-or-later",
  "config": {
    "optimize-autoloader": true,
    "sort-packages": true
  },
  "require": {
    "php": ">=7.1",
    "divante-ltd/pimcore-magento2-bridge": "^1.0",
    "pimcore/customer-management-framework-bundle": "^1.9",
    "pimcore/pimcore":

[2019-04-18 10:05] prugala commented on #11
Its output from logger. Pimcore throws an exception when Class definition dosent exists, then catches it.
https://github.com/pimcore/pimcore/blob/master/models/DataObject/ClassDefinition.php#L224

[2019-04-23 07:21] bartoll commented on #11
Is it acceptable situation in Pimcore 5.4 with coreshop ecommerce bundle?

[2019-04-27 10:08] PandaCrafter1 commented on #10
I have the same issue, this is my error message

![image](https://user-images.githubusercontent.com/5909098/56848118-33f4ee00-68e5-11e9-9b27-3dd46ffa3f72.png)

[2019-04-27 10:38] PandaCrafter1 commented on #10
@mbolka

[2019-05-04 09:46] PandaCrafter1 opened #12 "REST doesn't return any of the inputfields"
Hello,

When I try to add a category it gives me

[code]

After some more research and browsing the rest api, I found out that the elements data is empty.

Rest api get request:
[code]

Response:
[code]

[2019-05-09 13:50] bartoll commented on #11
TODO:
- check if problem still exists after executing

[2019-06-07 05:29] mbolka commented on #11
@bartoll Yes it is an acceptable situation

[2019-06-07 05:29] #11 closed

[2019-06-07 05:29] #1 closed

[2019-06-10 18:22] giorgiolami opened #13 "Installation of coreshop/resource-bundle and symfony 4.3.1 fails"
Trying to install coreshop/resource-bundle I get a fail message:

"Installation request for symfony/http-foundation (locked at v.4.3.1) -> satisfiable by symfony/http-foundation[v.4.3.1]

Any tip?

[2019-06-12 10:05] nishantjariwala opened #14 "Integrated category & Integrated product Class are not created."
Hello,
I've installed pimcore-magento2-bridge extension but it doesn't create IntegratedCategory & IntegratedProduct class after installation.
Also, I got below error after execution of **bin/console pimcore:bundle:install DivanteMagentoIntegrationBundle** with pimcore 5.8 version.

Stack trace:

Can you please help me to fix this thing?

Thanks

[2019-06-20 19:50] clarkedb opened #15 "Error Loading MapperService Class From Namespace"
Successfully installed and created a configuration. However, after an item is saved and published in Pimcore, Magento successfully receives notice of the changed product by Pimcore Object ID, but then there is a Symfony error on the Pimcore side when Magento makes the request to get the remaining product information.

Setup Information
- pimcore-magento2-bridge: 1.0.2
- Pimcore 5.6.5

**Call To Pi

[2019-06-28 09:27] mbolka commented on #15
It has been resolved in the newest release 1.1.0. Please test it and let me now if it works for you

[2019-06-28 09:28] mbolka commented on #14
Hi!
Thank you for your report. Can you verify if in the newest version 1.1.0 problem still occurs?
It supports Pimcore 6.x now.

[2019-06-28 09:32] mbolka commented on #5
The process is done asynchronously. Pimcore sends an only notification to Magneto, and cron on Magento side can trigger fetich the products from Pimcore. We have tested importing 30 simple products and it has taken around 25 seconds to fetch data, create attributes and attributes sets and save products.

[2019-06-28 09:33] mbolka commented on #10
@bartoll Could you retest the newest version - 1.1.0  to verify if the problem still occurs?

[2019-06-28 09:37] mbolka commented on #13
Hi
Thank you for your report. Coreshop/resource-bundle is not our package. Please head to https://github.com/coreshop/CoreShop/issues in order to report it.

[2019-06-28 09:37] #13 closed

[2019-07-09 22:04] clarkedb commented on #15
@mbolka , I was unable to use the new release 1.1.0 because packagist/composer lists the newest release as [1.0.2](https://packagist.org/packages/divante-ltd/pimcore-magento2-bridge). I get the following error: `Could not find package divante-ltd/pimcore-magento2-bridge in a version matching 1.1.0`.

[2019-07-12 11:09] prugala commented on #15
@clarkedb could you check it on the new release 1.1.1?

[2019-07-14 13:30] SergeyGauert opened #18 "Fatal error while installation"
getting error after bin/console pimcore:bundle:enable DivanteMagentoIntegrationBundle
(pimcore 6.0.2)

[2019-07-14 17:09] prugala commented on #18
Hello

Please try to enable `DivanteObjectMapperBundle` bundle before with commend (or in Pimcore panel Tools > Bundles):
`bin/console pimcore:bundle:enable DivanteObjectMapperBundle`

[2019-07-14 17:40] SergeyGauert commented on #18
hello, thank you for help!
it works but now im getting this
"Fatal error: Uncaught Symfony\Component\DependencyInjection\Exception\ParameterNotFoundException: The service "coreshop.command.create_database_tables" has a dependency on a non-existent parameter "coreshop.resources". in /var/www/html/vendor/symfony/symfony/src/Symfony/Component/DependencyInjection/ParameterBag/ParameterBag.php:100
Stac

[2019-07-14 17:45] SergeyGauert commented on #18
what should i do to fix such errors so i could stop reinstall pimcore over and over?

[2019-07-14 19:38] prugala commented on #18
I got the same error. I will investigate and fix it tomorrow. At the moment please edit your `var/config/extensions.php` file and sort bundles in this order.

[code]

Clear cache with `bin/console c:c` and site should works.

[2019-07-15 14:26] clarkedb commented on #15
@prugala , I tried to check it on the new release 1.1.1, but it has a dependency on coreshop bundles at the dev master level which is unstable and appears to have a bug related to the install.

So a coreshop bug on the dev level is keeping me from being able to verify that the MapperService issue has been resolved in 1.1.1.

Does 1.1.1 truly require coreshop dev? That seems dangerously unstable.

[2019-07-16 06:37] BPWBeck commented on #18
Hey, did you get any results yesterday?

[2019-07-16 16:36] prugala commented on #18
Hi, no

In the instalation instruction we have information about bundles which user should enable. One thing is change order in instruction second (better):
In Installer class add checking that other bundles are enabled if not turn them on
https://github.com/DivanteLtd/pimcore-magento2-bridge/blob/master/src/Divante/MagentoIntegrationBundle/Migrations/Installer.php

We are open on Pull Requests :)

[2019-07-16 16:53] SergeyGauert commented on #18
so right now i cant do anything with coreshop.resources error?

[2019-07-16 17:20] prugala commented on #18
You can edit your extensions file as I wrote above:
https://github.com/DivanteLtd/pimcore-magento2-bridge/issues/18#issuecomment-511229574

In new projects bundles should be installed in this order:
1. `bin/console pimcore:bundle:enable CoreShopResourceBundle`
2. `bin/console pimcore:bundle:enable DivanteObjectMapperBundle`
3. `bin/console pimcore:bundle:enable DivanteMagentoIntegrationBundle`

[2019-07-16 17:24] SergeyGauert commented on #18
oh, my bad. thank you!

[2019-07-17 08:43] supportnubix opened #19 "Install issue on pimcore 6.0 clean install, how to fix?"
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request for divante-ltd/pimcore-magento2-bridge ^1.1 -> satisfiable by divante-ltd/pimcore-magento2-bridge[1.1.1].
    - divante-ltd/pimcore-magento2-bridge 1.1.1 requires coreshop/resource-bundle dev-master -> satisfiable by coreshop/resource-bundle[dev-master] but these conflict with your r

[2019-07-17 10:09] prugala commented on #19
Hello

You need to add to your composer.json:
[code]

[2019-07-17 16:21] SergeyGauert commented on #18
so i try'd your advise above, same error after cleaning cache ((
![image](https://user-images.githubusercontent.com/38656588/61392664-fee6af00-a8c7-11e9-9446-a6997effe583.png)
bin/console c:c
Fatal error: Uncaught Symfony\Component\DependencyInjection\Exception\ParameterNotFoundException: The service "coreshop.command.create_database_tables" has a dependency on a non-existent parameter "coreshop.r

[2019-07-17 16:33] SergeyGauert commented on #18
funny: i can exec

[2019-07-17 16:34] SergeyGauert commented on #18
funny: i can exec
bin/console pimcore:bundle:enable DivanteMagentoIntegrationBundle
then
bin/console pimcore:bundle:enable DivanteObjectMapperBundle
but after this everything goes black =(
bin/console pimcore:bundle:enable CoreShopResourceBundle

[2019-07-18 13:40] supportnubix commented on #19
Thanks, that works. but the next command to install fails.

php bin/console pimcore:bundle:enable DivanteMagentoIntegrationBundle

Fatal error: Uncaught Symfony\Component\DependencyInjection\Exception\RuntimeException: Cannot autowire service "Divante\MagentoIntegrationBundle\Service\Product\ProductStatusService": argument "$mapper" of method "Divante\MagentoIntegrationBundle\Service\AbstractObjec

[2019-07-19 13:03] mbolka commented on #19
Can you try to run
php bin/console pimcore:bundle:enable DivanteObjectMapperBundle first and then
php bin/console pimcore:bundle:enable DivanteMagentoIntegrationBundle ?

[2019-07-19 13:35] #5 closed

[2019-07-19 13:44] mbolka commented on #7
@Xcreen you can find mentioned video here: https://www.youtube.com/watch?v=xuxr4z7H06o

## Product class requirements
### Mandatory

1. Text attribute for product name
2. Unique text / numeric attribute that will be mapped into SKU
3. Unique text attribute that will be used as Url Key.
4. Attribute with type yes/no or selection with values: true, false to determine if product should be enabled
5.

[2019-07-19 13:44] #7 closed

[2019-07-19 13:44] #10 closed

[2019-07-19 13:45] mbolka commented on #14
@nishantjariwala Can you confirm if the problem still occurs?

[2019-07-19 13:47] mbolka commented on #12
@PandaCrafter1 We have updated the version and solved multiple issues. As we were not able to reproduce your issue, could you please re-test and confirm if the issue still occurs?

[2019-07-19 13:48] mbolka commented on #15
@clarkedb With the newest version, we have decided to remove the coreshop dependency

[2019-07-19 13:49] mbolka commented on #18
@SergeyGauert Because many users have encountered issues with CoreShopResourceBundle we have decided to remove this dependency. Could you confirm if your problem still occurs?

[2019-07-19 20:53] clarkedb commented on #15
This is resolved in 1.1.2.

[2019-07-19 20:53] #15 closed

[2019-08-22 14:53] supportnubix commented on #19
Thanks mbolka, it worked for us.

[2019-08-22 14:53] #19 closed

[2019-08-22 14:59] supportnubix opened #23 "error missing configuration when save and publish"
We installed the bridge succesfully but can't sync the categories and product. In the log we get the message:

[ERROR] Missing configuration for object: 12481, instanceUrl:****, store view: 0.

in the product-status-log

Magento site log said:

StreamLogger.CRITICAL: Notice: Undefined index: data in /home/a*****/app/code/Divante/PimcoreIntegration/Http/Response/Transformator/CategoryUpdateTransfor

[2019-09-30 05:37] mbolka commented on #23
@supportnubix thank you for this report. We have updated connector and fixed multiple issues. Could you please verify if the problem still occurs?

[2019-09-30 05:42] mbolka commented on #12
I’m closing this issue because it has been inactive for a few months. This probably means that it is not reproducible or it has been fixed in a newer version.

Please reopen if you still encounter this issue with the [1.2.0](https://github.com/DivanteLtd/pimcore-magento2-bridge/tree/1.2.0) and then please [ireport issue](https://github.com/DivanteLtd/pimcore-magento2-bridge/issues/new). You can al

[2019-09-30 05:42] #12 closed

[2019-09-30 05:42] mbolka commented on #14
I’m closing this issue because it has been inactive for a few months. This probably means that it is not reproducible or it has been fixed in a newer version.

Please reopen if you still encounter this issue with the [1.2.0](https://github.com/DivanteLtd/pimcore-magento2-bridge/tree/1.2.0) and then please [ireport issue](https://github.com/DivanteLtd/pimcore-magento2-bridge/issues/new). You can al

[2019-09-30 05:42] #14 closed

[2019-09-30 05:42] mbolka commented on #18
I’m closing this issue because it has been inactive for a few months. This probably means that it is not reproducible or it has been fixed in a newer version.

Please reopen if you still encounter this issue with the [1.2.0](https://github.com/DivanteLtd/pimcore-magento2-bridge/tree/1.2.0) and then please [ireport issue](https://github.com/DivanteLtd/pimcore-magento2-bridge/issues/new). You can al

[2019-09-30 05:42] #18 closed

[2019-10-23 09:19] davidverbeek opened #32 "IntegratedProduct and IntegratedCategory class not created after installing 1.2.0"
IntegratedProduct and IntegratedCategory class not created after installing 1.2.0. I have installed pimcore version 6.2.1

[2019-11-19 16:12] supportned commented on #23
Hi, we still have the same issue here.
Everything is set up, and the element is also marked as "SENT" in the Pimcore UI. But the Log still says "Missing configuration for object" at "CategoryUpdateTransformator.php on line 67". Same error for products as well.

[2019-12-05 09:38] srinivastv-github opened #33 "Integration-configuration : Magento Store not showing any stores"
hi,
We have installed the plugin in PIMCore 6.3. While configuring the Magento values its not showing the "Stores".

PIMCore : 6.3.1
Magento 2 CE : 2.3
Please help us

[2019-12-13 10:27] mbolka commented on #33
@srinivastv-github Can you send me logs from this process? Maybe it is caused by the configuration of the connector.

[2019-12-13 10:39] mbolka commented on #32
The following classes are not installed automatically. You need to create them manually.  You can reuse your existing Product class for the purpose of integration. Just simply define your own, custom Product class, and select it in IntegrationConfiguration class and finally map your attributes to existing mapping table (on Product Mapping tab)
![Uploading Zrzut ekranu z 2019-12-13 11-37-48.png…]()

[2019-12-18 07:49] baladpi opened #34 "If i use select box in pimcore side, am getting Call to a member function getReferencedFields() on boolean"
vendor\/divante-ltd\/pimcore-magento2-bridge\/src\/Divante\/MagentoIntegrationBundle\/Service\/MapperService.php","line":247

[2019-12-18 09:13] baladpi commented on #34
am using pimcore 6.3.3

[2019-12-19 06:33] mbolka commented on #34
@baladpi Thank you for reporting this issue. We have investigated a potential cause of this issue and resolved it here: https://github.com/DivanteLtd/pimcore-magento2-bridge/pull/35
The newest version 1.2.1 is already implementing it. Could you verify if that solves this issue?

[2019-12-20 06:04] baladpi commented on #34
Thank you @mbolka , Its working now.. Now I have a query, that how can i pass the "attribute set id", which is exist in magento side..
For e.g: I created a attribute set named "Food Products" ( attribute is created with id : 19 ) in magento,
Then i pass the attribute from pimcore "attribute_set_id" with the ID 19, but its creating new attribute set in magento like "pimcore-set-27"

[2019-12-27 06:27] mbolka commented on #34
PImcore-Magento connector automatically creates attrbiutes sets based on data from Pimcore. It is not possible to manually decide what attribute set should be connected to what product.
Connector creates a checksum of all attributes in a given product and verifies if this set already exists. If yes, then the existing attribute set is assigned, otherwise, the new one is created.

[2019-12-30 06:25] baladpi commented on #34
Thank you.. So what is the use of "Default Classification Store".. I created "Classification Store" in pimcore and I selected the name of the "Classification Store" from the drop down.. But I didn't understand how its working.. Can you please help on " How to use Default Classification Store"

[2020-01-03 13:38] mbolka commented on #34
@baladpi You might want to have multiple output channels with unique classification for each of them. So you can use different classification stores for each output channel.
For ex. Product has 2 fields: classification_1, classification_2
You have 2 classification stores: ETIMv4, ETIMv6
And you want to send only ETIMv4  values to magento_A, and ETIMv6 values to magento_B,
so you define ETIMv4 as a

[2020-01-21 05:28] syedsaleem086 opened #36 "Will the existing module support Pimcore version 6.3?"
We are planning to install this module on our latest Pimcore will this be supported?

[2020-01-21 10:23] PNGUYENFRA commented on #32
I need help.

I created the both classes manually and setup into the IntegrationConfiguration, but mapping table is still empty. I have tried to use with default product & category class. Same result. The mapping is empty.

divante-ltd/pimcore-magento2-bridge: 1.2.0
pimcore version 6.2.3

[2020-01-21 12:57] mbolka commented on #32
Hello,
Have you selected Product and Category class and clicked Save (not Save and
Publish)? After that reload configuration object and Enter Product mapping
Tab. You should be able to select on the left column your Product class
attributes

W dniu wt., 21.01.2020 o 11:23 AM PNGUYENFRA <notifications@github.com>
napisał(a):

[2020-01-21 14:00] PNGUYENFRA commented on #32
Yes, i did, but it is still empty.

[2020-01-23 08:18] mbolka commented on #36
All published versions of Pimcore are currently supported.
Pimcore plans to remove Webservice api in version 7, so we have already started updating connector. It will be done in version 2.0

[2020-01-23 08:18] #36 closed

[2020-01-23 08:18] #34 closed

[2020-01-27 10:24] nwijnNobears opened #37 "Unable to map localized fields in ObjectBrick"
Currently we are working on a PIM project (Pimcore 6.3.6) that uses localized fields heavily. Underneath a simplified example of how our Product Class definition looks like.

product

We followed the mapping using xdebug and came across a bug when using the localizefield in a Objectbrick.

For the localized fields the mapping is done by  the "MapStructuredValue" class. And the objectBricks are map

[2020-01-28 13:28] attilan opened #38 "Dynamic 'select' element options"
Hi,

I have created a Data Component of the type 'select' and instead of adding options manually I have added a 'Options Provider Class'. This is working fine in pimcore, displaying and saving the object properly but when it comes to sync to magento the saved option is not in the object.

[2020-01-31 12:25] mbolka commented on #37
@nwijnNobears Thank you for your issue. I have resolved that is this mege: https://github.com/DivanteLtd/pimcore-magento2-bridge/pull/39
Version 1.2.2 has fix this implemented

[2020-01-31 12:25] #37 closed

[2020-01-31 12:33] mbolka commented on #38
@attilan Could you give me more details, about Pimcore and this option provider?
I have verified that on Pimcore 6.4.0 and newest version of connector (>1.2.1) it works fine
I have tried Divante\MagentoIntegrationBundle\Provider\ClassList as an option provider and I can see on product endpoint proper Keys and Values for this field.

[2020-01-31 12:35] mbolka commented on #32
Can you see any error in Pimcore logs?

[2020-02-08 20:01] PNGUYENFRA commented on #32
Maybe that's the reason, why the mapping lists are empty
php.INFO: User Deprecated: Auto-injection of the container for "Divante\MagentoIntegrationBundle\Controller\MapperController" is deprecated since Symfony 4.2. Configure it as a service instead. {"exception":"[object] (ErrorException(code: 0): User Deprecated: Auto-injection of the container for \"Divante\\MagentoIntegrationBundle\\Controller

[2020-02-20 18:27] vikdelarge commented on #23
Hi, anybody had a fix for this? I'm getting the same error, no clue what's going on

[2020-02-20 19:23] vikdelarge commented on #23
I debugged and find out my error, the missing configuration was on Magento's side, in Pimcore Integration configuration I left Instance Url blank, but as I was using docker the instance Url was not the same as the baseUrl of my magento project.

The hint here would be checking your logs in your pimcore project and look for this query:

[2020-02-20 12:41:15] doctrine.DEBUG: SELECT object_4.o_id as

[2020-02-24 18:59] vikdelarge opened #41 "Send bulk products to Magento"
Hello!

Is there a way to send all products to Magento instead of saving and publish each one of them?

Regards

[2020-02-27 18:21] vikdelarge commented on #41
Any ideas on this? is it possible?

[2020-03-18 10:19] mbolka commented on #41
So far Pimcore Magento connector does not support bulk actions, however we are working on the next version with this functionality implemented and support for Pimcore 7.

[2020-03-20 13:36] PNGUYENFRA commented on #23
I have the error

Could not update status for object with id: 1144. Status: ERROR. Message: An error occurred while insert/update product "1144": Notice: Undefined index: data in /www/htdocs/*********/magento2/app/code/Divante/PimcoreIntegration/Http/Response/Transformator/ProductUpdateTransformator.php on line 85

I have check at the function transform() in the file ProductUpdateTransformator.php

[2020-03-26 11:10] bgolda opened #43 "IntegrationConfiguration class overwritting existing class during installation"
Hello,

we've managed to install magento bridge successfully on Pimcore v6.4.2, but somehow the IntegrationConfiguration class has overwritten one of already existing classes with ID = 4. I couldn't find any information in the documentation about this case or in existing issues neither. Is this class supposed to have this ID reserved, or is it some kind of a bug during installation?
Could you plea

[2020-04-02 18:17] mbolka commented on #43
Hi @bgolda!
Thank you for your message. You are right, inside our class definition we have hardcoded ID:4. It should not override your existing class. It is not an expected behavior. We will fix this issue today.

[2020-04-02 18:22] mbolka commented on #43
@bgolda Can you confirm that the issue is resolved?

[2020-04-02 18:22] #43 closed

[2020-04-03 12:49] bgolda commented on #43
This resolved the issue for now. My suggestion to further improve this solution is to make this class take first ID that is not used yet. Since in the newer  Pimcore versions user is able to define class ID by himself when creating it, there is a possibility that the problem will occur for someone else if the ID is still hardcoded. Thank you for your help and for considering my suggestion.

[2020-04-24 09:33] faranki5 opened #45 "Products or Categories not getting synced with Magento"
We installed the bridge successfully, configured the pimcore integration class and Magento configuration but can't sync the categories and product. In the log we get the multiple log messages:

This log is created when we save and publish the category in pimcore.

- Could not update status for object with id: 12484. Status: SUCCESS. Message: category with ID 12484 successfully added to queue

The

[2020-04-24 14:39] faranki5 commented on #45
@mbolka would you please help out.

[2020-04-27 12:42] The-Creeps opened #46 "Spam send with w-vision"
I try with you (after contacting the author of the plugin 'data-definition' of w-vision) if you can give me a tips to solve my problem.

When I import with the w-vision plugin, my import slows down or freezes completely. This is due to a spam loop and in my magento journal I see that ...

[code]

When i try to apply in mass publishing from pimcore directly all are ok and i can push more 3000 produ

[2020-05-13 12:43] mbolka commented on #46
Hi @The-Creeps
Thank you for your info. For now, I can suggest you to unpublished IntegrationConfiguration objects before you import data with ImportDefinition, or import products to the different catalog than the one you are using for synchronization with Magento.
We are currently working on a much better optimized version of the connector and it will be published very soon. You can see it on bra

[2020-05-13 12:47] mbolka commented on #45
@faranki5 sorry for the delay. Could you send me full logs from magento? Both (bridge connection logs and critical logs)
Magneto should show full requests and you should be able to run them manually to see, where the problem is.

[2020-05-13 12:48] #33 closed

[2020-05-20 18:55] The-Creeps commented on #46
Thank you for this response ;) disable IntegrationConfiguration fix my problem but it's not a solution for me at this point. I follow the develop-v2 branch now. Thank you very much for this work ;)

[2020-05-21 10:45] faranki5 commented on #45
[bridge.log](https://github.com/DivanteLtd/pimcore-magento2-bridge/files/4661983/bridge.log)
[bridge_critical.log](https://github.com/DivanteLtd/pimcore-magento2-bridge/files/4661985/bridge_critical.log)

[2020-05-21 10:49] faranki5 commented on #45
@mbolka here are the logs attached. You can see the error in it. I explored the code of the mentioned class in the log, there seems to be no data coming from Pimcore which is basically causing the error.

[2020-05-21 10:52] faranki5 commented on #45
Moreover, the Pimcore "product-status-update.log" says this "Missing configuration for object: 12498, instanceUrl:http://**** hidden URL ***** , store view: 1" Even though the configuration on Magento admin is correctly filled.

[2020-05-21 11:00] faranki5 commented on #45
@mbolka An important note, when i run any syncing commands like "php bin/magento divante:queue-category:process" on Magento it appears with this error: "Registry key "isSecureArea" already exists". This however, i fixed in the code by adding this line of code: "$this->registry->unregister('isSecureArea') "

[2020-05-21 13:07] mbolka commented on #45
@faranki5 Please verify that instanceUrl parameter's value that is in your bridge.log file on the line 8 is equal to the instance Url field in your Integration Configuration.

[2020-05-28 08:30] faranki5 commented on #45
@mbolka well, i tried by adding the exact value of instanceUrl ( url with its parameters) but it didn't work.  However, when i tried by removing "Https" in the value of Magento configuration (made exactly the same to Pimcore value), it did work, but i have got additional errors. By running category command on Magento it throws this error in log:  "The value of attribute "Image" must be set". I don

[2020-05-28 08:31] faranki5 commented on #45
![Screenshot from 2020-05-28 14-33-12](https://user-images.githubusercontent.com/49975912/83118213-fb19e080-a0c5-11ea-835f-b9c90a395ebf.png)

[2020-05-28 08:31] faranki5 commented on #45
[bridge.log](https://github.com/DivanteLtd/pimcore-magento2-bridge/files/4694271/bridge.log)
[bridge_critical.log](https://github.com/DivanteLtd/pimcore-magento2-bridge/files/4694272/bridge_critical.log)

[2020-05-28 12:57] synchmann commented on #45
Can you check what response do you get executing this endpoint in postman ?
`{your-host}/webservice/rest/category?apikey={pimcore-api-key}&storeViewId={storeId}&instanceUrl={magento-instance-url}&id={category-id}`
Have your attribute image a correct id ?

[2020-06-10 11:00] synchmann opened #63 "Connector performance control"
Control connector performance during object notification and send. Optimize it.

[2020-06-12 04:20] vinitchopra12 opened #64 "IntegrationConfiguration was not found"
Hello,

When I am trying to install the bundle it gives me below error.

[code]

Please advice the fixes.

Thanks,

[2020-06-12 22:01] prugala commented on #64
This is normal behavior for Pimcore `pimcore:definition:import:class` command. When you try to import a new class, command logs informtion about missin class definition in system.

[2020-06-15 09:49] faranki5 commented on #45
@synchmann @mbolka
when i execute the endpoint i get this response:
{
    "success": false,
    "msg": "Requested object with id 12508 does not exist."
}

[2020-06-15 09:50] faranki5 commented on #45
i am running this endpoint on Postman: "http://phpstack-328383-1173945.cloudwaysapps.com/webservice/rest/category?apikey=cba1ca2b47b2576fa79f318463b1941b005bb2617e9bdac69cadf156bb70d82e&storeViewId=1&instanceUrl=dev5.tonsoftiles.co.uk&id=12508"

[2020-06-15 09:52] faranki5 commented on #45
Even though i do have the category object with this id: 12508. When I hover over my category in Pimcore, it shows me the id number.

[2020-06-15 09:55] faranki5 commented on #45
I dont know what do you mean by attribute id. Please take a look at the attached snapshot, my image attribute is shown there.
![Screenshot from 2020-06-15 15-56-48](https://user-images.githubusercontent.com/49975912/84644172-b6c87600-aef6-11ea-920c-7a7b6a685478.png)

[2020-06-15 09:59] faranki5 commented on #45
When i run the product command (php bin/magento divante:queue-product:process) on magento 2, it gives me this error on console:
 "Uncaught Error: Call to undefined method Magento\Framework\App\ResourceConnection\Interceptor::getSchemaName() in app/code/Divante/PimcoreIntegration/Listeners/AttributeSet/NameResolver.php:46"

[2020-06-16 10:56] synchmann commented on #45
It seems like something is wrong with the configuration. Can you show me your integration-configuration object. Check that you have selected the right classes and directories. If your category is not in the right directory it won't be sent to magento.

[2020-06-16 12:57] faranki5 commented on #45
@synchmann  As you can see in the image below i have the right category directory and class in the configuration. I am using the directory "integrated categories" and categories in it. The category class is also correct, when i hover over the category objects it shows me its class name which is exactly the same i have added in the configuration.
![Screenshot from 2020-06-16 18-49-52](https://user-

[2020-06-18 12:19] synchmann commented on #45
@faranki5 You're requesting the wrong storeViewId (1 instead of 0 which is Admin), you can see it by requesting http://phpstack-328383-1173945.cloudwaysapps.com/webservice/rest/object/id/12472?apikey=cba1ca2b47b2576fa79f318463b1941b005bb2617e9bdac69cadf156bb70d82e.
Try this endpoint http://phpstack-328383-1173945.cloudwaysapps.com/webservice/rest/category?apikey=cba1ca2b47b2576fa79f318463b1941b005

[2020-06-19 07:23] faranki5 commented on #45
@synchmann Well, i selected the admin store view in the configuration but when i run the category command on magento, it logs this error: "Could not save category: The value of attribute "Image" must be set". I have attached the snapshot of my image attribute of the class. Please check its settings, could you please tell me what exactly i am missing. I do upload images on the image attribute of my

[2020-06-19 07:24] faranki5 commented on #45
[bridge.log](https://github.com/DivanteLtd/pimcore-magento2-bridge/files/4803031/bridge.log)
[bridge_critical.log](https://github.com/DivanteLtd/pimcore-magento2-bridge/files/4803033/bridge_critical.log)

[2020-06-26 08:08] mbolka commented on #64
@vinitchopra12 Do you have any other issues with the connector?

[2020-07-06 16:02] vinitchopra12 commented on #23
I am also facing the same issue. I am checking with the Category sync for now.

When I see in the Application logger it shows.

`Could not update status for object with id: 250. Status: ERROR. Message: An error occurred while insert/update category "250": Notice: Undefined index: data in ... /app/code/Divante/PimcoreIntegration/Http/Response/Transformator/CategoryUpdateTransformator.php on line 67

[2020-07-07 05:20] PNGUYENFRA commented on #23
Check the Instance Url in Magento. The url shouldn't  contain http and ww.

[2020-07-07 06:17] vinitchopra12 commented on #23
@PNGUYENFRA I have just try with the put it blank and updated with the same instance url as you suggested. But still the sync doesn't happen. In Application Logger, it shows the below Error:

Could not update status for object with id: 250. Status: SUCCESS. Message: category with ID 250 successfully added to queue

[2020-07-07 08:13] PNGUYENFRA commented on #23
you have to use the url of your magento shop

[2020-07-07 17:43] vinitchopra12 opened #77 "Base table does not exists"
I am getting error while syncing the Products. I noticed that if I have prefix in Magento tables then the sync does not consider the Prefix and throws the below error.

`Base table or view not found: 1146 Table '<db_name>.eav_attribute_label' doesn't exist, query was: SELECT `eav_attribute_label`.`value`, `eav_attribute_label`.`store_id` FROM `eav_attribute_label` WHERE (attribute_id = 285)`

Wher

[2020-07-13 09:04] jantomicky commented on #41
Hello, is there an estimate on when this new version will be available? Bulk actions would be really nice. Thanks!

[2020-07-13 11:07] jantomicky opened #82 "Saving multiple objects in a loop is extremely slow"
In our project, we have several console commands that modify lots of Pimcore objects (products), in a loop (synchronization of external data to Pimcore). These are called with CRON.

When we set up the connector / bridge, these commands basically slow down to the point of not working (think ~50 processed objects over 20 hours, whereas when we unpublish the connector configuration, we are able to p

[2020-07-15 16:53] #64 closed, assigned to nobody

[2020-07-15 16:57] vinitchopra12 opened #83 "Real time syncronization"
Is there any way we can sync. products and category real time instead getting queued and run the command?

Also, everytime when I update the product its create the new attribute set in Magento.  How we can prevent that?

[2020-07-16 10:28] synchmann opened #85 "Make validation silent when deleting an object"

[2020-07-16 11:55] mbolka commented on #83
Hi @vinitchopra12,
due to the architecture, it is currently not possible to sync in real-time. You can execute command frequently using cron for ex. every 1 minute.
If your product model has been changed, then Magento will create a new attribute set to follow those changes. It also has a built-in command to clean non-used sets, so your Magento will get rid of them.

[2020-07-16 12:00] mbolka commented on #82
Hi @jantomicky,
Version 2.0 will be available the next month (we aim towards 2'nd - 3'rd week in August). It will have a built-in system of rules when you want to synchronize your products, which can be easily extended. You can write your custom rules (for ex. listen for a specific env value) and then use them to prevent the connector from updating during import/export and call mass export after i

[2020-07-16 12:08] mbolka commented on #77
Hi @vinitchopra12,
as far as I know, connector on the magento side does not support prefixes of the tables. Could you create an issue on Magento part of this connector https://github.com/DivanteLtd/magento2-pimcore-bridge ? The team will take a look on that and add it to the backlog

[2020-07-16 12:45] jantomicky commented on #82
Awesome, thank you very much!

[2020-07-30 06:14] kevindesai opened #86 "Error In Installation"
While Installing it is giving error

I have pimcore version 6.6.10

`Installing bundle DivanteMagentoIntegrationBundle                                                                                                                                                                                               Migrating up to 00000001 from 0

[2020-07-31 13:31] vinitchopra12 opened #87 "Importing products in pimcore slow down the process."
I am importing the 100 products in Pimcore, but due to the connector the import process take huge time.
Almost 1 product can take upto 1minute.

Please advice how I can improve the Product import process in my Pimcore along with the Magento Sync.

Thanks

[2020-08-12 07:27] vinitchopra12 opened #88 "Quantity Value not supported & MultiStore Configuration"
I have several fields as QuantityValue datatype such as Weight, Price(MultiCurrency) etc., but it doesnot get sync with Magento and shows the below error.

`Error while syncing object: 6475 with instance: magento-412155-1344050.cloudwaysapps.com for store view: 1. Message: An error occurred while insert/update product "6475": Invalid attribute type: "quantityValue"`

Also, I would like to know wha

[2020-08-13 08:35] synchmann commented on #88
Hi,
From pimcore side `quantityValues` are supported.
Yes, you need to create new IntegrationConfiguration objects for each store.

[2020-08-13 08:38] vinitchopra12 commented on #88
@synchmann: In my case I have taken the Price and Weight has Qunatity value but its not working. The value are not sync in Magento as well.

[2020-08-13 08:39] synchmann commented on #87
We are currently working on connector version 2, which should improve times. There will be an option to send multiple products to magento after your import.
more info: https://github.com/DivanteLtd/pimcore-magento2-bridge/issues/82

[2020-08-19 09:12] vinitchopra12 commented on #82
@mbolka : By when would be version 2.0 will be available?

[2020-08-21 07:08] mischief24 opened #90 "Version shouldn't be sent to Magento if Parent is not published"
We noticed a problem, that if you publish version of the product first, after that you will publish parent it causes problems in Magento instance.  According to the FIFO queue, when you publish version of the product, the parent/configurable parent should be published first automatically.

[2020-08-31 12:02] vinitchopra12 commented on #87
@synchmann : Is there any news on the version 2 release? I am pretty excited to see the excellent features.

[2020-09-07 10:06] ciggy opened #94 "Transfer only 'Simple Products'"
Hello Divante-Team,
we have the following internal PIM Structure of products:

[code]

Only leaf nodes have all information about a product (sku, title, image, etc.) and should be transferred into Magento.
Is there a possibility to transfer a Pimcore-Variant into Magento as 'Simple Product'?

[2020-09-26 04:57] rohitrajv5 opened #95 "Product on Magento getting unpublished"
I am syncing  from from Pimcore to Magento. But on magento product goes unpublised. I do not see any "status" attribute in IntegrationConfiguration -> Product Mapping.
How i can add a new column "status"? Will that work?

[2020-10-12 08:49] p380 opened #97 "Will the existing module support Pimcore latest version (6.8)?"

[2020-10-30 04:32] ghost opened #100 "Feature Request: Need support for bundle products"
I can use the Divante Bridge to manage simple and configurable products, my business needs Bundle products to be managed as well

[2020-11-21 19:26] onlinemusketeers opened #102 "Bundle "DivanteMagentoIntegrationBundle" does not exist or it is not enabled."
Hi! After a clean install of Pimcore and following the steps for installation I come to this command with an error:

bin/console pimcore:bundle:install DivanteMagentoIntegrationBundle

In Kernel.php line 231:

  Bundle "DivanteMagentoIntegrationBundle" does not exist or it is not enabled. Maybe you forgot to add it in the "registerBundles()" method of your "AppKernel.php" file?

What could be wron

[2020-11-21 23:11] kubaplas commented on #102
@onlinemusketeers did you enable the the bundle?
`bin/console pimcore:bundle:enable DivanteMagentoIntegrationBundle`

[2020-11-23 12:47] onlinemusketeers commented on #102
Thank you for your reply. I am going to try that.  What do you recommend in terms of the initial installation of Pimcore? Is that skeleton or with demo data?

[2020-11-24 09:20] onlinemusketeers commented on #102
Looks like everything works fine now. :)

[2020-11-24 09:20] #102 closed, assigned to nobody

[2020-12-15 13:22] hallleron opened #103 "services.yml - ParserException"
I wanted to install this module, however when I try to run `bin/console pimcore:bundle:enable DivanteMagentoIntegrationBundle` I immedately get an uncaught exception from the YAML parser for the services.yml file:

`Fatal error: Uncaught Symfony\Component\Yaml\Exception\ParseException: Malformed inline YAML string at line 77 (near "- "@file_locator" ") in /var/www/share/pimcore.yourhost.com/htdocs

[2021-01-23 07:07] jdigiorgio opened #105 "Does not work with composer 2"
Installing using composer 2 causes a lot of errors of the type 'Class ... located in ... does not comply with psr-4 autoloading standard. Skipping.' After that process completes the bundle does not appear at all in pimcore:bundle:list and it cannot be enabled or installed. Downgrading to composer 1 works.

[2021-02-09 10:27] p380 opened #106 "Installation error"
when I want to install the module it returns an error
Method "Divante\MagentoIntegrationBundle\Application\Validator\Rules\Category\CategoryParentsMustBePublished::getPriority()" should return a string (got "integer").

I have a clean instalation PIMCore.
which vendor is missing?

regards

[2021-02-12 08:37] p380 opened #107 "Integration: Pimcore not showing any stores in the field Magento store"
in Pimcore I have all the information: Magento URL, Client secret

log displays an error:
connector.CRITICAL: Client error: `GET domain / rest / V1 / store / storeViews` resulted in a` 401 Unauthorized` response:

where is the problem?

regards

[2021-02-15 07:57] #107 closed, assigned to nobody

[2021-02-15 07:58] p380 commented on #107
issue closed
problem in system settings

[2021-03-11 10:01] mbolka commented on #106
Thank you! We have fixed that on develop-v2 branch.

[2021-03-11 10:01] #106 closed, assigned to nobody

[2021-03-11 10:21] mbolka commented on #105
Thank you for your ticket. We have updated develop-v2 with changes to fully comply with PSR-4. It should be working now.

[2021-03-11 10:21] #105 closed, assigned to nobody

[2021-03-23 12:23] p380 opened #108 "Install via composer"
how to install composer version for branch 'develop-v2' on Pimcore clean installation?

[2021-03-23 12:46] #97 closed, assigned to nobody

[2021-03-23 12:47] p380 commented on #97
yes
issue resolved

[2021-03-23 15:29] prugala commented on #108
`composer require divante-ltd/pimcore-magento2-bridgedev-develop-v2`

[2021-03-23 21:55] jdigiorgio commented on #108
Does the develop-v2 version work the master version of magento2-pimcore-bridge?

[2021-03-23 21:57] prugala commented on #108
I don't know, @mbolka maybe you can answer :)

[2021-03-23 22:01] p380 commented on #108
I know it works with development version of the Magento module.

[2021-03-26 08:34] p380 commented on #108
minor error, the correct command is:
composer require divante-ltd/pimcore-magento2-bridge:dev-develop-v2

[2021-04-01 13:02] p380 opened #109 "Unpublish button not remove a product"
How to remove a product from Magento?
The unpublish button does nothing, the product still exists in Magento and has not been removed.
Is there any setting in Pimcore?

**It does not work on the develop version.**

[2021-04-01 13:20] #108 closed, assigned to nobody

[2021-04-01 13:21] p380 commented on #108
issue closed

[2021-04-01 13:33] vaseemishak opened #110 "Bundle "DivanteMagentoIntegrationBundle" is no valid bundle identifier"
pimcore is istalled through https://github.com/pimcore/skeleton pimcore is working fine but when i try to install DivanteMagentoIntegrationBundle i get below error ,
composer require divante-ltd/pimcore-magento2-bridge (module is installed)
/var/www/html# bin/console pimcore:bundle:enable DivanteMagentoIntegrationBundle

 [ERROR] Bundle "DivanteMagentoIntegrationBundle" is no valid bundle identifi

[2021-04-01 13:43] p380 commented on #110
you can use develop version
composer require divante-ltd/pimcore-magento2-bridge:dev-develop-v2

that's working

[2021-04-01 15:49] The-Creeps opened #111 "Attempted to load class "IntegrationConfiguration" from namespace "Pimcore\Model\DataObject"."
Hello everyone,

Environement : Ubuntu 18.04, PHP 7.2, Fresh Pimcore 6.8.11 "squeleton" tested with "demo" version too.
plugin version : dev-develop-v2

Impossible to procced at the plugin install.
I have the same problem on current preprod pimcore 6.5.3 server.

[code]

see file attachement
![Capture](https://user-images.githubusercontent.com/8341054/113319661-f9d2c900-9311-11eb-97ba-c4a6c79e3a45

[2021-04-06 13:44] The-Creeps commented on #111
Resolved

[2021-04-06 13:44] #111 closed, assigned to nobody

[2021-04-07 09:21] p380 opened #112 "How to set the field to send product status to Magento"
Each time it sends data to Magento it sets the product status to disabled.
The 'enable product' attribute is system-wide in Magento.

[2021-05-21 11:19] agendartobias commented on #82
We have the same problem. But problem only exists if we have pimcore enviroment set to PROD mode. If enviroment is set to DEV mode savings are fast.

[2021-06-01 11:18] jantomicky opened #113 "Future of this project (Pimcore X, REST API)"
Is there going to be the "V2" version mentioned in #87 or is this project getting phased out?
Pimcore X removed the REST API, meaning one of our projects using this won't be able to upgrade to Pimcore X, is that correct?
Thank you for any answer on this issue in advance!

[2021-06-03 06:51] bpspatel commented on #23
Hi, anybody facing issue , when sync category to pimcore  . I have attached  issue log
[bridge.log](https://github.com/DivanteLtd/pimcore-magento2-bridge/files/6589552/bridge.log)
[bridge_critical.log](https://github.com/DivanteLtd/pimcore-magento2-bridge/files/6589553/bridge_critical.log)

[2021-06-03 07:43] bpspatel commented on #45
Hi, When I  save and publish object (Category ) from pimcore . It is successfully added to queue and show  in magento logs.
But when we run command  as given below
**bin/magento divante:queue-category:process**
**bin/magento divante:queue-asset:process**
Then we get error
[2021-06-03 06:36:29] StreamLogger.CRITICAL: Type Error occurred when creating object: **Divante\PimcoreIntegration\Model\Categ

[2021-06-18 06:17] bpspatel commented on #45
@synchmann When I run the product command ( bin/magento divante:queue-product:process ) then get error Initialization processing of products queue.
Started at 2021-06-18 06:05:42
Processing...
PHP Fatal error:  Uncaught Error: Call to undefined method Magento\Framework\App\ResourceConnection\Interceptor::getSchemaName() in /var/www/html/magento2/app/code/Divante/PimcoreIntegration/Listeners/Attrib

[2021-08-18 13:56] mage-monk opened #114 "Attempted to load class "IntegrationConfiguration""
Using Pimcore 6.0

composer require divante-ltd/pimcore-magento2-bridge:dev-develop-v2

getting below error :

 Attempted to load class "IntegrationConfiguration" from namespace "Pimcore\Model\DataObject".
  Did you forget a "use" statement for "Divante\MagentoIntegrationBundle\Domain\DataObject\IntegrationConfiguration"?

![image](https://user-images.githubusercontent.com/12712394/129911058-d8e90

[2021-08-18 13:57] mage-monk commented on #114
Do we have solution to fix this?

[2021-08-19 09:21] mage-monk commented on #114
Made the changes in installer.php and it worked for me

<?php
/**
 * @category    pimcore5-module-magento2-integration
 * @date        16/03/2018
 * @author      Michał Bolka <mbolka@divante.co>
 * @copyright   Copyright (c) 2018 DIVANTE (https://divante.co)
 */

namespace Divante\MagentoIntegrationBundle\Migrations;

use Divante\MagentoIntegrationBundle\Domain\IntegrationConfiguration\Integration

[2021-08-19 09:22] prugala commented on #114
@prince0212 Could you create Pull Request with changes?

[2021-08-19 09:25] mage-monk commented on #114
sure will do the needful

[2022-02-08 08:53] jantomicky commented on #114
I am getting the same error on an already running instance (since 2020). After running `composer update` and attempting to edit existing configuration object in the Pimcore UI / admin:

[code]

I can't access the configuration object, as the error breaks the Pimcore UI. ~~Doesn't look like namespacing is the problem here?~~ This is on PHP 7.4 and Symfony 4.4 so this could be namespacing / autoload

[2022-02-15 13:53] jantomicky commented on #114
Related to #105  and #110, the package does not comply with PSR-4, so Composer 2 won't autoload the necessary classes.
A fix has been commited to the `develop-v2` branch only.
An easy solution is to downgrade Composer to V1 (`composer self-update --1`) and running `composer update`, then all classes autoload properly.

[2022-04-15 11:12] TheCreeps opened #115 "Unpublish send an insert/update action"
Hi,
I have one problem with the unpublish who send an insert/update request to magento 2.4.3-p2.

That is my log

`[2022-04-15 10:34:58] StreamLogger.INFO: Pimcore data received:  {"product_id":91003,"store_view_id":0,"action":"insert/update"} []
[2022-04-15 10:34:58] StreamLogger.INFO:
====REQUEST====
POST https://****/webservice/rest/product/update-status HTTP/1.1
Authorization: Bearer d70762281

[2022-11-10 07:14] rbouma opened #117 "☢️ Project is dead and abandoned 💀"
No more active development no more responses from original developer to issues.
last commit on master branch is from May 18th of 2020

I conclude this project don't have any future.

#87
#113